.filters {
    width: 98%;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.country-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.country {
    width: 15rem;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
}

.country img {
    width: 80%;
}

@media(max-width: 650px) {
    .filters{
        flex-direction: column;
    }
}