.details-container {
    width: 90%;
    margin: auto auto;
    border: 2px solid violet;
}
.datails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img {
    width: 35%;
}

.description {
    width: 40%;
}
.descriptions {
    display: flex;
    flex-wrap: wrap;
}

.description p {
    margin-left: 10px;
}