.details-container {
    width: 90%;
    margin: auto auto;
}

.btn-back {
    cursor: pointer;
    width: 6rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 10px 5px 8px hsl(207, 26%, 17%);
}

.icon {
    margin-left: 5px;
}

.btn {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}

.datails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 60vh;
    box-shadow: 5px 15px 20px hsl(0, 0%, 52%);
    border-radius: 10px;
}

img {
    width: 28rem;
}

.descriptions-container {
    width: 40%;
    height: 50vh;
}

.descriptions {
    list-style-type: none;
    margin-left: -25px;
}

.descriptions li {
    margin-bottom: 6px;
}

@media(max-width: 880px) {
    .datails {
        flex-direction: column;
        text-align: center;
        height: 80vh;
    }

    img {
        width: 80%;
    }

    .descriptions-container {
        width: 90%;
        height: 60vh;
    }
}