select {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

select:focus {
    outline: none;
}

@media(max-width: 650px) {
    .selectr {
        margin: auto auto;
    }
}