.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
  box-shadow: 5px 5px 10px hsl(0, 0%, 52%);
}

h2 {
  margin-left: 2%;
}

.icon {
  margin-right: 10px;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  margin-right: 3%;
  width: auto;
  cursor: pointer;
  padding: 8px;
  background-color: #eee;
}

.dark-mode-toggle.dark {
  background-color: #333;
  color: #eee;
}

.dark-mode-toggle.light {
  background-color: #eee;
  color: #333;
}

body.dark {
  background-color: #333;
  color: #eee;
}