.search-container {
    width: 12rem;
    display: flex;
    padding-left: 6px;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
}

input {
    width: 70%;
    padding: 5px;
    height: 22px;
    margin-left: 5px;
    border: none;
    border-radius: 10px;
}

input:focus {
    outline: none;
}

@media(max-width: 650px) {
    .search-container {
        width: 100%;
        margin-bottom: 15px;
    }
}